body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background {
    background-color: black;
    color: white;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.heading-paragraph {
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
}

.more-button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.link-more-button {
    color: #707070;
    text-decoration: none;
    font-size: 16px;
}

.arrow {
    margin-left: 5px;
}

.white-box {
    color: white;
    margin-top: 20px;
    padding: 20px;
}

.attention-header {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 3px;
    font-family:Menlo,Monaco,Consolas,"Courier New",monospace;
    text-align: center;
    margin-bottom: 20px;
}

.attention-header p {
    margin: 5px 0;
    font-weight: bold;
}

.guidelines-list {
    padding-left: 20px;
    margin-bottom: 20px;
}

.guidelines-list li {
    margin-bottom: 10px;
}

.issued-text {
    margin-top: 20px;
}

.advisory-header {
    font-weight: bold;
    margin-bottom: 20px;
}

.advisory-text {
    margin-bottom: 20px;
    line-height: 1.5;
}